@mixin filter-selector($base-clr, $border-clr, $hover-clr) {
  &.inline-block, ul.inline-block {
    display: inline-block;
  }

  li {
    display: inline-block;

    @include border-radius(0);

    padding: 0;
    margin: 0 0.5rem 0.5rem 0;

    &:hover, &:focus {
      background: transparent;
    }

    &.active {
      box-shadow: none;
    }

    a, a.button {
      display: block;

      @include border-radius(0.5em);

      border: 1px solid $border-clr;
      padding: 0.5em 0.625em 0.5em 1.75em;
      color: $base-clr;
      font-size: 0.75em;
      background: #f8fbff;
      margin: 0;
      cursor: pointer;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
      transition: background 0.15s ease, border-color 0.15s ease, color 0.15s ease, transform 0.15s ease;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0.6em;
        top: 50%;
        transform: translateY(-50%);
        width: 0.75em;
        height: 0.75em;
        border: 1px solid $border-clr;
        border-radius: 3px;
        background: #fff;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
      }

      i {
        padding-left: 0.25rem;
      }

      &:hover, &:focus {
        background: white;
        border-color: $hover-clr;
        color: $hover-clr;
        transform: translateY(-1px);
      }

      &.disabled {
        opacity: 0.6;

        &:hover, &:focus {
          border-color: $border-clr;
          color: $base-clr;
        }
      }

      &.active, &.active:hover, &.active:focus {
        border: 1px solid $base-clr;
        background: $base-clr;
        color: white;

        &::before {
          border-color: white;
          background: white;
          box-shadow: inset 0 0 0 2px $base-clr;
        }
      }
    }
  }
}

.filter-shopfront {
  &.taxon-selectors, &.property-selectors {
    background: transparent;
  }

  // Shopfront taxons
  &.taxon-selectors {
    @include filter-selector($clr-blue, $clr-blue-light, $clr-blue-bright);
  }

  // Shopfront properties
  &.property-selectors {
    @include filter-selector(#666, #ccc, #777);
  }

  ul {
    margin: 0;
  }
}
