.product-header {
  padding-left: 1.5rem;

  h1, h2, h3, h4, h5, h6 {
    margin: 0.2rem 1.5rem 0 0;
  }

  span {
    color: $grey-500;
  }

  .product-promoted-badge {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 2px 8px;
    background: $orange-600;
    color: $white;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-radius: 999px;
    vertical-align: middle;
  }

  .product-description {
    margin: 1rem 0.25rem 0.25rem 0;

    .text-small div {
      margin-bottom: 1.5rem; // Equivalent to p (trix doesn't use p as separator by default, so emulate div as p to be backward compatible)
    }

    @include trix-styles;
  }

  .property-selectors li {
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.4rem 0 0;

    a {
      border: 1px solid $grey-300;
      font-weight: normal;
      padding: 0.15rem 0.5rem;
    }

    span {
      color: $grey-600;
    }
  }
}
