#about{"ng-controller" => "AboutUsCtrl"}
  %img.hero-img-small{"ng-src" => "{{::shopfront.promo_image}}", "ng-if" => "::shopfront.promo_image"}

  .content
    .row
      .small-12.columns
        %p{"ng-bind-html" => "::shopfront.long_description"}
      .small-12.large-4.columns
        &nbsp;
    .row{"ng-if" => "shopfront.recent_ratings.length > 0"}
      .small-12.columns
        %p.modal-header {{'ratings.comments_title' | t}}
        %ul.ratings-list
          %li{"ng-repeat" => "rating in shopfront.recent_ratings"}
            %strong {{ rating.author_name }}
            %span.rating-stars{"aria-hidden" => "true"}
              %span.star{"ng-repeat" => "n in [1,2,3,4,5]", "ng-class" => "{filled: n <= rating.rating}"} &#9733;
            %span
              {{ rating.rating }}/5
            %p{"ng-bind" => "rating.comment"}
