.highlight{"ng-class" => "::{'is_distributor' : enterprise.is_distributor}"}
  .highlight-top.row
    .small-12.medium-7.large-8.columns
      %h3{"ng-if" => "::enterprise.is_distributor"}
        %a{"ng-href" => "{{::enterprise.path}}", "ofn-change-hub" => "enterprise", "ng-attr-target" => "{{ embedded_layout ? '_blank' : undefined}}"}
          %i{"ng-class" => "::enterprise.icon_font"}
          %span{"ng-bind" => "::enterprise.name"}
      %h3{"ng-if" => "::!enterprise.is_distributor", "ng-class" => "::{'is_producer' : enterprise.is_primary_producer}"}
        %i{"ng-class" => "::enterprise.icon_font"}
        %span{"ng-bind" => "::enterprise.name"}
    .small-12.medium-5.large-4.columns.text-right.small-only-text-left
      %p{"ng-bind" => "::[enterprise.address.city, enterprise.address.state_name] | printArray"}
      %p{"ng-if" => "::enterprise.rating_count > 0", "ng-init" => "enterpriseRatingRounded = Math.round(parseFloat((enterprise.rating_average || 0).toString().replace(',', '.')) || 0)"}
        %span{"ng-bind" => "::('ratings.average_label' | t) + ':'"}
        %strong
          {{ enterpriseRatingRounded }}/5
        %span.rating-stars{"aria-hidden" => "true"}
          %span.star{"ng-repeat" => "n in [1,2,3,4,5]", "ng-class" => "{filled: n <= enterpriseRatingRounded}"} &#9733;
        %span
          ({{ ::enterprise.rating_count }})
        %span{"ng-if" => "enterprise.recommendation_percent != null"}
          {{ 'ratings.recommendation_percent_label' | t }}: {{ enterprise.recommendation_percent | number: 1 }}%
      %p{"ng-if" => "::enterprise.rating_count == 0"}
        %span{"ng-bind" => "::('ratings.none_label' | t)"}
  %img.hero-img{"ng-src" => "{{::enterprise.promo_image}}"}
