.row
  .small-12.large-8.columns
    %div
      %p.modal-header {{'label_about' | t}}
      %div
        %span.filter-shopfront.taxon-selectors
          %ul.inline-block
            %li{"ng-repeat" => "taxon in enterprise.supplied_taxons"}
              %a.button.tiny.disabled{"ng-bind" => "taxon.name"}

        %span.filter-shopfront.property-selectors.pad-top
          %ul.inline-block
            %li{"ng-repeat" => "property in enterprise.supplied_properties"}
              %a.button.tiny.disabled{"ng-bind" => "property.presentation"}

      .about-container.pad-top
        %img.enterprise-logo{"ng-src" => "{{::enterprise.logo}}", "ng-if" => "::enterprise.logo"}
        %div{"ng-bind-html" => "::enterprise.long_description"}
      .ratings-container.pad-top{"ng-if" => "enterprise.recent_ratings.length > 0"}
        %p.modal-header {{'ratings.comments_title' | t}}
        %ul.ratings-list
          %li{"ng-repeat" => "rating in enterprise.recent_ratings"}
            %strong {{ rating.author_name }}
            %span.rating-stars{"aria-hidden" => "true", "ng-attr-data-rating" => "{{ Math.round(parseFloat(rating.rating) || 0) }}"}
              %span.star{"ng-repeat" => "n in [1,2,3,4,5]", "ng-class" => "{filled: n <= Math.round(parseFloat(rating.rating) || 0)}"} &#9733;
          %span
            {{ rating.rating }}/5
          %p{"ng-bind" => "rating.comment"}
  .small-12.large-4.columns
    %ng-include{src: "'partials/contact.html'"}
    %ng-include{src: "'partials/follow.html'"}
