- # NOTE: make sure that any changes in this template are reflected in app/views/admin/products_v3/product_preview.turbo_stream.haml
= cache_with_locale do
  .product-thumb
    %a{"ng-click" => "triggerProductModal()"}
      %span.product-thumb__bulk-label{"ng-if" => "::product.group_buy"}
        = t(".bulk")
      %img{"ng-src" => "{{::product.primaryImageOrMissing}}"}

  .summary
    .summary-header
      %h3
        %a.product-name-link{"ng-click" => "triggerProductModal()", href: 'javascript:void(0)'}
          %span{"ng-bind" => "::product.name"}
      .product-description{ "data-controller": "add-blank-to-link", "ng-bind-html": "::product.description_html", "ng-click": "triggerProductModal()", "ng-show": "product.description_html.length" }
      %div{ "ng-switch" => "enterprise.visible" }
        .product-producer
          = t :products_from
          %span{ "ng-switch-when": "hidden", "ng-bind" => "::enterprise.name"}
          %span{ "ng-switch-default": true }
            %enterprise-modal{"ng-bind" => "::enterprise.name"}

      .product-properties.filter-shopfront.property-selectors
        %filter-selector{ 'selector-set' => "productPropertySelectors", objects: "[product] | propertiesWithValuesOf" }
      .product-rating-line{"ng-if" => "product.rating_count_value > 0"}
        %span.product-rating-label {{'ratings.average_label' | t}}:
        %strong {{ (product.rating_average_value || 0) | number:1 }}/5
        %span.rating-stars.rating-stars--fraction{"aria-hidden" => "true", "ng-attr-style" => "--rating-percent: {{ ((product.rating_average_value || 0) / 5) * 100 }}%;"}
          %span.rating-stars__base &#9733;&#9733;&#9733;&#9733;&#9733;
          %span.rating-stars__fill &#9733;&#9733;&#9733;&#9733;&#9733;
        %span.product-rating-count ({{ product.rating_count_value }})
