- # NOTE: make sure that any changes in this template are reflected in app/views/admin/products_v3/product_preview.turbo_stream.haml
.row
  .columns.small-12.medium-6.large-6.product-header
    %h3{"ng-bind" => "::product.name"}
    %span
      %em {{'products_from' | t}}
      %span{"ng-bind" => "::enterprise.name"}

    %br

    .filter-shopfront.property-selectors.inline-block
      %filter-selector{ 'selector-set' => "productPropertySelectors", objects: "[product] | propertiesWithValuesOf" }

    .product-description{"ng-if" => "product.description_html"}
      %p.text-small{"ng-bind-html" => "::product.description_html", "data-controller" => "add-blank-to-link"}
    .product-reviews{"ng-if" => "product.recent_reviews.length > 0"}
      %p.modal-header {{'product_reviews.comments_title' | t}}
      %p{"ng-if" => "product.rating_count > 0"}
        %span {{'ratings.average_label' | t}}:
        %strong {{ product.rating_average | number: 1 }}/5
        %span.rating-stars{"aria-hidden" => "true", "ng-attr-data-rating" => "{{ Math.round(parseFloat(product.rating_average) || 0) }}"}
          %span.star{"ng-repeat" => "n in [1,2,3,4,5]"} &#9733;
        %span
          ({{ product.rating_count }})
      %ul.ratings-list
        %li{"ng-repeat" => "review in product.recent_reviews"}
          %strong {{ review.author_name }}
          %span.rating-stars{"aria-hidden" => "true", "ng-attr-data-rating" => "{{ Math.round(parseFloat(review.rating) || 0) }}"}
            %span.star{"ng-repeat" => "n in [1,2,3,4,5]"} &#9733;
          %span
            {{ review.rating }}/5
          %p{"ng-bind" => "review.comment"}

  .columns.small-12.medium-6.large-6.product-img
    %img{"ng-src" => "{{::product.largeImage}}", "ng-if" => "::product.largeImage"}
    %img.placeholder{ src: Spree::Image.default_image_url(:large), "ng-if" => "::!product.largeImage"}

%ng-include{src: "'partials/close.html'"}
