#active-table-search.row
  .small-12.columns
    %input{type: "search",
    "ng-model" => "query",
    placeholder: t('search_by_name'),
    inputmode: "search",
    "ng-debounce" => "500",
    "ofn-disable-enter" => true}
    %input.margin-top{type: "search",
    "ng-model" => "productQuery",
    placeholder: t('search_by_product'),
    inputmode: "search",
    "ng-debounce" => "500",
    "ofn-disable-enter" => true}
    .margin-top
      %label{for: "distance-range"}= t("search_radius")
      %select#distance-range{"ng-model" => "distanceRange"}
        %option{value: "20"}= t("search_radius_option", km: 20)
        %option{value: "50"}= t("search_radius_option", km: 50)
        %option{value: "100"}= t("search_radius_option", km: 100)
